# Android / Gradle
*.iml
.gradle/
build/
local.properties
.idea/
.kotlin/
captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab
*.jks
*.keystore
output.json

# 系统文件
.DS_Store
Thumbs.db
desktop.ini

# 日志与临时文件
*.log
temp/
